body {
  margin: 0;
  background-color: whitesmoke;
}
a {
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  margin: 10px;
  text-align: center;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
header h1 {
  margin-top: 10px;
  font-size: 50px;
  opacity: 0.7;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.repository {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 500px;
  height: 150px;
  margin: 20px;
  text-align: center;
  justify-content: center;
}
.repository .name {
  margin: 10px;
  font-size: 40px;
}
